.page-header
  = link_to new_email_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Email
  %h1 Listing emails
.container
  .row
    .col-xs-3
      actions
    .col-xs-9
      = react_component('mail-box', emails: @emails)
