.page-header
  = link_to emails_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_email_path(@email), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show email

%dl.dl-horizontal
  %dt Body:
  %dd= @email.body
  %dt From:
  %dd= @email.from
